/*
  HEADER SECTION
*/

.header {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.header-menu {
  background-color: inherit;

  .button-collapse {
    color: rgb(0,187,187);
  }

  li {
    list-style: none;

    a {
      color: black;
      font-size: 12px;
      padding: 0 15px;
      text-decoration: none;
      text-transform: uppercase;
    }
  
  }

}



/*
  END HEADER SECTION
*/