/*
  LAYING-INFO-SECTION
*/

.laying-info-section {
  background-color: white;
  padding-top: 2%;
  text-align: center;
  width: 100%;

  .container {
    padding: 0 10%;

    p {
      text-align: justify;
    }

    a {
      margin: 3% 0 3%;
    }

  }

}

/*
  END LAYING-INFO-SECTION
*/
