/*
  LAYING-TECHNOL-SECTION
*/

.laying-technol-section {
  padding-top: 2%;
  text-align: center;
  width: 100%;

  .container {
    padding: 0 10%;

    p {
      text-align: justify;
    }

    a {
      margin-top: 3%;
    }

  }

}

/*
  END LAYING-TECHNOL-SECTION
*/
