/*
  MARKET-SECTION
*/

.market-section {
  width: 100%;
  @include clearfix;
}

.market-menu {
	height: 100%;
	@include clearfix;
}

.market-menu--white {
	background-color: white;
}

.market-menu--grey {
	background-color: lightgray;
}

.menu-wrapper {
	@include clearfix;

	ul {
		list-style: none;
		@include clearfix;

		.market-menu-item:not(:first-child) {
			width: 15%;
		}

		a {
			color: black;
			text-transform: uppercase;

			&:hover {
				
				.responsive-img {
					opacity: .7;
    			transition: opacity .2s ease;
				}

			}

		}

	}

}
/*
  END MARKET-SECTION
*/
