/*
  OFFER-SECTION
*/

.offer-section { 
  text-align: center;
  width: 100%;

  h2 {
    margin-bottom: 0.25em;
  }

  h3 {
    color: grey;
    margin-top: 0;
    margin-bottom: 2%;
  }

}

.offer-item {

  .responsive-img {
    float: left;
    margin-right: 5%;
    margin-bottom: 2%;
    width: 50%;
  }

  p {
    margin-top: 0;
    text-align: justify;
  }

  a {

    @media (max-width: 385px) {
      font-size: 8px;
    }
    
  }

}

/*
  END OFFER-SECTION
*/
