/*
  REC-PROD-SECTION
*/

.rec-prod-section {
  margin-top: 3em;
  text-align: center;
  width: 100%;
}

.rec-prod-wrapper {  
  @include align-items(center);
  @include flex-direction(row);
  @include flexbox;
  @include justify-content(space-around);
  padding: 4% 0 3%;


  @media (max-width: 560px) {
    @include flex-direction(column);
  }

}

.rec-prod-item {
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  height: auto;
  opacity: 1;
  text-align: center;
  width: 23%;

  @media (max-width: 560px) {
    margin-bottom: 3%;
    width: 40%;
  }

  @media (max-width: 480px) {
    margin-bottom: 3%;
    width: 60%;
  }

  .responsive-img {

    &:hover {
      cursor: pointer;
      opacity: .7;
      transition: opacity .2s ease;
    }
    
  }

  h5 {
    margin: 10% 0;
    font-size: 14px;

    @media (max-width: 1280px) {
      font-size: 9.5px;
    }

    @media (max-width: 879px) {
      font-size: 10px;
    }

    @media (max-width: 730px) {
      font-size: 8px;
    }

    @media (max-width: 560px) {
      font-size: 12px;
    }

    &:hover {
      cursor: pointer;
      opacity: .7;
      transition: opacity .2s ease;
    }

  }

}

/*
  END REC-PROD-SECTION
*/
