/*
  SERVICE-SECTION
*/

.service-section {
  background-color: white;
  margin: 3% 0;
  padding-bottom: 3%;
  position: relative;
  text-align: center;
  width: 100%;

  &:before,
  &:after {
    -moz-box-shadow: 0 15px 10px #777;
    -moz-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -webkit-box-shadow: 0 15px 10px #777;
    -webkit-transform: rotate(-3deg);
    background: #777;
    bottom: 15px;
    box-shadow: 0 15px 10px #777;
    content: "";
    left: 10px;
    max-width:25%;
    position: absolute;
    top: 50%;
    transform: rotate(-2deg);
    width: 50%;
    z-index: -1;
  }

  &:after {
    -moz-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -webkit-transform: rotate(3deg);
    left: auto;
    right: 10px;
    transform: rotate(2deg);
  }

  h2 {
    margin-bottom: 0.25em;
  }

  h3 {
    color: grey;
    margin-top: 0;
  }

}

.service-wrapper {
  @include align-items(center);
  @include flex-direction(row);
  @include flexbox;
  @include justify-content(center);
  margin-top: 4%;
  
  @media (max-width: 480px) {
    @include flex-direction(column);
  }

}

.service-item {
  padding: 0 2%;

  h4 {
    border-bottom: 2px solid rgb(0,187,187);
    padding-bottom: 10px;
    text-transform: uppercase;
    
    @media (max-width: 895px) {
      font-size: 10px;
    }

    @media (max-width: 655px) {
      font-size: 8px;
    }

    @media (max-width: 480px) {
      display: inline-block;
      margin-bottom: 0;
    }

  }

  p {

    @media (max-width: 930px) {
      font-size: 10px;
    }

    @media (max-width: 655px) {
      font-size: 8px;
    }

    @media (max-width: 480px) {
      padding: 2% 15%;
    }

  }

}

/*
  END SERVICE-SECTION
*/