/*
  SLIDER-SECTION
*/

.slider-section {
  margin-top: 3%;
  overflow: hidden;
  width: 100%;

  @media (max-width: 676px) {
    margin-top: 8%;
  }

  @media (max-width: 454px) {
    margin-top: 11%;
  }

}

.slick-slide {
  position: relative;
}

.slider-caption {
  background-color: rgba(0, 0, 0, 0.3); 
  position: absolute;
  right: 0;
  top: 40%;
  text-align: left;
  
  h1 {
    color: white;
    font-size: 2.92rem;
    font-weight: 400;
    margin: 5px 15px;
    text-transform: uppercase;

    @media (max-width: 676px) {
      font-size: 1.92rem;
    }

    @media (max-width: 454px) {
      font-size: 0.92rem;
    }

  }

  h3 {
    color: white;
    font-size: 16px;
    font-weight: 400;    
    margin: 5px 15px;
    text-transform: uppercase;

    @media (max-width: 454px) {
      font-size: 8px;
    }

  }

  hr {
    width: 55%;
  }

}
/*
  END SLIDER-SECTION
*/
