/*
  TITLE-SECTION
*/

.title-section {
  padding-top: 4.5%;
  position: relative;
  text-align: center;
  width: 100%;
}

.title-caption {
  position: absolute;
  top: 50%;
  left: 45%;
  width: 10%;

  h2 {
    color: white;
    margin: 0;
  }
  
}

/*
  END TITLE-SECTION
*/
