/*
  TITLE-SECTION
*/

.title-section {
  margin-top: 3.5%;
  position: relative;
  text-align: center;
  width: 100%;

  @media (max-width: 1360px) {
    margin-top: 4.5%;
  }

  @media (max-width: 750px) {
    margin-top: 8.5%;
  }

  @media (max-width: 480px) {
    margin-top: 11.5%;
  }

}

.title-caption {
  left: 45%;
  position: absolute;
  top: 50%;
  width: 10%;

  @media (max-width: 750px) {
    width: 20%;
    left: 40%;
    top: 40%;
  }

  @media (max-width: 480px) {
    width: 25%;
  }

  h2 {
    color: white;
    margin: 0;
  }
  
}

.title-laying-caption {
  left: 40%;
  position: absolute;
  top: 40%;
  width: 20%;

  @media (max-width: 750px) {
    width: 40%;
    left: 35%;
    top: 40%;
  }

  @media (max-width: 480px) {
    width: 50%;
    left: 25%;
    top: 40%;
  }

  h2 {
    color: white;
    margin: 0;
  }

}

.title-polishing-caption {
  left: 40%;
  position: absolute;
  top: 50%;
  width: 20%;

  @media (max-width: 750px) {
    width: 40%;
    left: 35%;
    top: 40%;
  }

  @media (max-width: 480px) {
    width: 50%;
    left: 25%;
    top: 40%;
  }

  h2 {
    color: white;
    margin: 0;
  }

}

.title-market-caption {
  left: 40%;
  position: absolute;
  top: 50%;
  width: 20%;

  @media (max-width: 750px) {
    width: 40%;
    left: 35%;
    top: 40%;
  }

  @media (max-width: 480px) {
    width: 50%;
    left: 25%;
    top: 40%;
  }

  h2 {
    color: white;
    margin: 0;
  }

}

.title-contacts-caption {
  left: 40%;
  position: absolute;
  top: 50%;
  width: 20%;

  @media (max-width: 750px) {
    width: 40%;
    left: 35%;
    top: 40%;
  }

  @media (max-width: 480px) {
    width: 50%;
    left: 25%;
    top: 40%;
  }

  h2 {
    color: white;
    margin: 0;
  }

}

.title-blog-caption {
  left: 25%;
  position: absolute;
  top: 50%;
  width: 50%;

  @media (max-width: 750px) {
    width: 55%;
    left: 20%;
    top: 40%;
  }

  @media (max-width: 480px) {
    width: 60%;
    left: 15%;
    top: 40%;
  }

  h2 {
    font-size: 30px;
    color: white;
    margin: 0;
  }

}


/*
  END TITLE-SECTION
*/
