/*
  TITLE-SECTION
*/

.title-section {
  padding-top: 4.5%;
  position: relative;
  text-align: center;
  width: 100%;
}

.title-caption {
  left: 45%;
  position: absolute;
  top: 50%;
  width: 10%;

  h2 {
    color: white;
    margin: 0;
  }
  
}

.title-laying-caption {
  background-color: rgba(0, 0, 0, 0.3);
  left: 40%;
  position: absolute;
  top: 50%;
  width: 20%;

  h2 {
    color: white;
    margin: 0;
  }

}

.title-polishing-caption {
  left: 40%;
  position: absolute;
  top: 50%;
  width: 20%;

  h2 {
    color: white;
    margin: 0;
  }

}

.title-market-caption {
  left: 40%;
  position: absolute;
  top: 50%;
  width: 20%;

  h2 {
    color: white;
    margin: 0;
  }

}

.title-contacts-caption {
  left: 40%;
  position: absolute;
  top: 50%;
  width: 20%;

  h2 {
    color: white;
    margin: 0;
  }

}

/*
  END TITLE-SECTION
*/
